<% include ../partials/head.ejs %>
<% include ./partials/admin-header.ejs %>
<% include ./partials/admin-primaryNavigation.ejs %>
<main role="main" class="adminPage">
	<section>
		<h1><%= title %></h1>
		
	</section>
</main>
<script>

</script>
<% include ../partials/after-footer.ejs %>