<% include partials/head.ejs %>
<% include partials/header.ejs %>
<% include partials/navigation.ejs %>
<main tabindex="0" role="main" class="main" id="maincontent">
	<% articles.forEach(article => { %> 
		<article>
			<h2><%= article.name %></h2>
			<img src="./media/<%= article.image %>" alt="">
			<p><%= article.content %></p>
			<p><%= article.fk_author %></p>
		</article>
	<% }); %>
</main>
<% include partials/footer.ejs %>
<% include partials/after-footer.ejs %>